<div>
    <form action="">
        <div>
            <label for="">UserName:</label>
            <div>
             <input type="text" name="username">
            </div>
        </div>
        <div>
            <label for="">password:</label>
            <div>
             <input type="text" name="username">
            </div>
        </div>
        <div>
            <label for="">UserName:</label>
            <div>
             <input type="text" name="username">
            </div>
        </div>
        <div>
            <button>login</button>
        </div>
    </form>
</div>
