<section class=" gradient-custom ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card  text-dark" style="border-radius: 1rem;height:570px;width:450px;background-color:rgba(95, 158, 160, 0.834);right:55px;top:10px;">
            <div class="card-body p-5 text-center">
              <form class="mb-md-5 mt-md-4 pb-5" [formGroup]="passwordForm" (submit)="passwordData()">
  
                <h2 class="fw-small mb-2 text-uppercase fs-2 text">New Password</h2>
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX" style="font-size:20px;position: relative;top:10px;">Email</label>
                  <input type="email" id="typePasswordX" class="form-control form-control-lg" formControlName="email" name="email" />
                </div>
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX" style="font-size:20px;">Security Code</label>
                  <input type="text" id="typeEmailX" class="form-control form-control-lg" formControlName="enteredOtp" name="enteredOtp" />
                  <div *ngIf="passwordForm.get('securitycode')?.invalid && passwordForm.get('securitycode')?.touched" class="text-danger">
                    <span *ngIf="passwordForm.get('securitycode')?.errors?.['required']">securitycode is required</span>
                    <span *ngIf="passwordForm.get('securitycode')?.errors?.['maxlength']">Security code should be 6 characters</span>
                  </div>
                  <button type="button" (click)="verifyOtp()">Verify OTP</button>
                </div>
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX" style="font-size:20px;position: relative;top:10px;">New Password</label>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="newpassword" name="newpassword" />
                </div>
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX" style="font-size:20px;position: relative;top:10px;">Confirm Password</label>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="confirmpassword" name="confirmpassword" />
                </div>
                <button class="btn btn-outline-dark btn-lg px-5 text-white bg-dark" type="submit" (click)="reset()">Reset</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
