    <div>
    <table>
        <tr>
            <td>EmployeeTable</td>
        </tr>
        <tr>
            <td>EmployeeName</td>
            <td><input type="text" [(ngModel)]="employeename" ></td>
        </tr>
        <tr>
            <td>EmployeeId</td>
            <td><input type="number" [(ngModel)]="employeeId"></td>
        </tr>
        <tr>
            <td>EmployeeAge</td>
            <td><input type="number" [(ngModel)]="employeeAge"></td>
        </tr>
        <tr>
            <td>EmployeeGender</td>
            <td><input type="text" [(ngModel)]="employeeGender" ></td>
        </tr>
        <tr>
            <td>EmployeeSalary</td>
            <td><input type="number" [(ngModel)]="employeeSalary"></td>
        </tr>
        <tr>
            <td>EmployeeDesignation</td>
            <td><input type="text" [(ngModel)]="employeeDesignation"></td>
        </tr>
        <tr>
            <td>EmployeePhone</td>
            <td><input type="number" [(ngModel)]="employeePhone"></td>
        </tr>
        <tr>
            <td>EmployeePassword</td>
            <td><input type="password" [(ngModel)]="employeePassword"></td>
        </tr>
        <tr>
            <td>EmployeeEmail</td>
            <td><input type="text" [(ngModel)]="employeeEmail"></td>
        </tr>
        <tr>
            <td>EmployeeAddress</td>
            <td><input type="text" [(ngModel)]="employeeAddress"></td>
        </tr>
    </table>
    <h2>empname:- {{employeename}}</h2>
    <h2>empid:- {{employeeId}}</h2>
    <h2>empAge:- {{employeeAge}}</h2>
    <h2>empGender:- {{employeeGender}}</h2>
    <h2>empsalary:- {{employeeSalary}}</h2>
    <h2>empdesignation:- {{employeeDesignation}}</h2>
    <h2>empphpone:- {{employeePhone}}</h2>
    <h2>emppassword:- {{employeePassword}}</h2>
    <h2>empemail:- {{employeeEmail}}</h2>
    <h2>empaddress:- {{employeeAddress}}</h2>
</div>