
<label for="startDate">Start Date:</label>
<input type="date" id="startDate" [(ngModel)]="startDate">

<label for="endDate">End Date:</label>
<input type="date" id="endDate" [(ngModel)]="endDate">

<button (click)="filterData()">Filter</button>

<div><a  class="btn btn-primary patient-link" routerLink="/addPatient" style="position:relative;left:880px;top:70px;">New</a></div>
    <div *ngIf="records && records.length>0">
      <table border="2" class="table" style="position:relative;right:130px;background-color: white;color: black;width:1150px ;">
        <tr>
            <th>S.No</th>
            <th>Billing Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>BedNo</th>
            <th>Paid Amount</th> 
            <th>Discount</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th colspan="2">Actions</th>
        </tr>
        
        <tr *ngFor="let c of records">
          <td>{{c.billId}}</td>
         <td>{{c.billingDate|date:"dd-MM-yyyy"}}</td> 
         <td>{{c.fistName}}</td>
         <td>{{c.lastName}}</td>  
        <td>{{c.bedId}}</td> 
        <td>{{c.paidAmount}}</td>
        <td>{{c.discount}}</td>
        <td>{{c.totalAmount}}</td>
        <td>{{c.paymentStatus}}</td>
        <td><a class="btn btn-primary edit" routerLink="/edit/{{c.billId}}">Edit</a></td>
        <!-- <td><a href="">Delete</a></td>  -->

        </tr> 
      </table>
    </div>
<div class="pagination">
  <button [disabled]="isPreviousButtonDisabled()" (click)="onPageChange(currentPage -1)">Previous</button>
  <button [disabled]="isNextButtonDisabled()" (click)="onPageChange(currentPage +1)">Next</button>
</div>

