<div class="container-fluid">
    <ul>
        <li>
            <button class="btn btn-link" name="electronics" (click)="sendeleData($event)">electronics[{{eleCount}}]</button>
            <button class="btn btn-link"  name="jewelery" (click)="sendjweData($event)">jewelery[{{jewCount}}]</button>
            <button class="btn btn-link" name="men's clothing" (click)="sendmenData($event)">women's clothing[{{womCount}}]</button>
            <button class="btn btn-link" name="women's clothing" (click)="sendwomenData($event)">men's clothing[{{menCount}}]</button>
        </li>
    </ul>
</div>

