<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Bed Allocation</h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <!-- First row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="patientId">Enter Patient ID:</label>
                    <input type="number" id="patientId" formControlName="patientId" class="form-control" min="1" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="noOfDays">Enter Number of Days:</label>
                    <input type="number" id="noOfDays" formControlName="noOfDays" class="form-control" min="1" required>
                  </div>
                </div>
              </div>
              <!-- Second row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="startDate">Enter Start Date:</label>
                    <input type="date" id="startDate" formControlName="startDate" class="form-control" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="endDate">Enter End Date:</label>
                    <input type="date" id="endDate" formControlName="endDate" class="form-control" required>
                  </div>
                </div>
              </div>
              <!-- Third row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="department">Select Department:</label>
                    <select id="department" formControlName="department" (change)="onMedicationChange()" class="form-control">
                      <option *ngFor="let department of medicationNames" [value]="department.id">{{ department.name }}</option>
                    </select>
                    <div *ngIf="!medicationSelected && form.get('ward')?.touched" class="text-danger">Please choose a department first.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="ward">Select Ward:</label>
                    <select id="ward" formControlName="ward" (change)="onWardChange()" class="form-control">
                      <option *ngFor="let ward of wardNames" [value]="ward.id">{{ ward.name }}</option>
                    </select>
                    <div *ngIf="!wardSelected && form.get('roomType')?.touched" class="text-danger">Please choose a ward first.</div>
                  </div>
                </div>
              </div>
              <!-- Fourth row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <br>
                    <label for="roomType">Select Room Type:</label>
                    <select id="roomType" formControlName="roomType" >   
                      <!-- (change)="onRoomChange()" class="form-control" -->
                      <option>--select--</option>
                      <option *ngFor="let room of roomTypeNames">{{ room.name }}</option>
                    </select>
                    <div *ngIf="!roomTypeSelected && form.get('room')?.touched" class="text-danger">Please choose a room type first.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="room">Select Room:</label>
                    <select id="room" formControlName="room" (change)="onRoomChange()" class="form-control">
                      <option *ngFor="let room of roomNumbers" [value]="room.id">{{ room.roomNo }}</option>
                    </select>
                    <div *ngIf="!roomSelected && form.get('bedNo')?.touched" class="text-danger">Please choose a room first.</div>
                  </div>
                </div>
              </div>
              <!-- Fifth row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="bedNo">Select Bed:</label>
                    <select id="bedNo" formControlName="bedNo" (change)="onBedChange()" class="form-control">
                      <option *ngFor="let bed of bedNumbers" [value]="bed.id">{{ bed.bedNo}}</option>
                    </select>
                    <div *ngIf="!bedSelected && form.get('bedNo')?.touched" class="text-danger">Please choose a bed first.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="status">Enter Status:</label>
                    <input type="text" id="status" formControlName="status" class="form-control" required>
                  </div>
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
