/* Add this CSS to your style file (e.g., your-component.component.css) */
/* 
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

input{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

button{
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
} */


.container {
  position: relative;
    width: 50%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
    top:60px;
    height: 600px;
    opacity:0.8;

  }
  
  form {
    display: grid;
    gap: 3px;
    position: relative;
    left: 90px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 270px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  button {
    width: 90px;
    background-color:black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left:90px;
    margin-top: 30px;
  }
  /* button:hover{
    background-color:#45a049 ;
  } */
  