<div class="Container-fluid">
    <header class="d-flex justify-content-between bg-dark text-white ">
        <div class="brand">
            <span>Shopper</span> 
        </div>
        <div class="menu">
            <a routerLink="home">Home</a>
            <a routerLink="mens">Mens</a>
            <a routerLink="womens">Womens</a>
            <a routerLink="kids">Kids</a>   
         </div>
        <div class="icons">
            <span class="bi bi-search"></span>
            <span class="bi bi-heart"></span>
            <span class="bi bi-person"></span>
            <span class="bi bi-cart2"></span>
        </div>
    </header>
    <section>
        <router-outlet></router-outlet>
    </section>
</div>
